

.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --heading-color: #333;
    --text-color: #555;
    --highlight: #0047AB	; 
  
  
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    padding: 80px;
    gap: 32px;
    font-family: Arial, sans-serif;
    background-color: var(--gray-alpha-100);
    color: var(--text-color);
}
.date{
    padding: 1rem;
    text-align: center;
}

.description{
    padding: 0rem 15rem;
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
}

.review{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding: 0 8rem;
    gap: 16px;
}

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
        
        --heading-color: #e0e0e0;
        --text-color: #d1d1d1;
        --highlight: #00A36C;
    }
}

.h1 {
    font-size: 2rem;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 16px;
}

.h2 {
    font-size: 1.5rem;
    color: var(--highlight);
    margin-top: 5rem;
    text-align: center;
    
}

.h3 {
    font-size: 1.25rem;
    color: var(--heading-color);
    margin-top: 24px;
}

.p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 4rem;
    color: var(--text-color);
    padding: 0 15rem;
}

.image{
}
.listenLink{
    padding: 1rem 0rem;
    color: var(--highlight);
    text-decoration: none;
    text-align: center;

}

.listenLink:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.finalThoughts{
    padding: 0rem 15rem;
}

.h3{
    text-align: center;
}